<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Sign In</title>
  </head>

  <body>
    <h1>Inscrivez vous</h1>
    <hr />
    <form method="post" , action="/register">
      <section id="formSection">
        <div class="group-b">
          <img class="connectImg" src="../img/img_connect.jpg" />
        </div>
        <div class="group-a">
          <% if (error.length > 0) { %>
            <div class="error-message">
              <span class="error-text"><%= error[0] %></span>
            </div>
          <% } %>
          <label for="">Nom d'utilisateur</label>
          <input type="text" placeholder="Votre email" name="username" />
          <label for="">Mot de passe</label>
          <input type="password" name="password" />
          <input class="sub" type="submit" value="S'inscrire" />
          <button class="sub" type="button" id="navigateRegisterBtn">
            Se connecter
          </button>
          <button class="sub" type="button" id="navigateHomeBtn">
            Accueil
          </button>
          <script>
            document.getElementById("navigateRegisterBtn").onclick =
              function () {
                window.location = "/login";
              };
            document.getElementById("navigateHomeBtn").onclick = function () {
              window.location = "/";
            };
          </script>
        </div>
      </section>
    </form>
  </body>
</html>
