<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Sign In</title>
  </head>

  <body>
    <div class="page-wrapper">
      <div class="wrapper">
        <div class="card">
          <div class="card-heading"></div>
          <form method="post" , action="/login" class="card-body">
            <div>
              <h2>Inscrivez vous</h2>
              <hr />
            </div>
            <% if (error.length > 0) { %>
            <div class="error-message">
              <span class="error-text"><%= error[0] %></span>
            </div>
            <% } %>
            <input type="text" placeholder="Email" name="username" />
            <input type="password" name="password" placeholder="Mot de passe" />
            <input class="btn" type="submit" value="Se connecter" />
            <button class="btn" type="button" id="navigateRegisterBtn">
              Se connecter
            </button>
            <button class="btn" type="button" id="navigateHomeBtn">
              Accueil
            </button>
            <script>
              document.getElementById("navigateRegisterBtn").onclick =
              function () {
                window.location = "/login";
              };
            document.getElementById("navigateHomeBtn").onclick = function () {
              window.location = "/";
            };
            </script>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
