body {
  background-color: #CFD8DC;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #2C3E50;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-top: 3%;
}

hr {
  width: 10em;
  border-top: 3px solid #2C3E50;
}

label {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0.25em;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#formSection input {
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
  padding: 0.45em;
  min-height: 2.5em;
}

#formSection {
  width: 45%;
  margin: 2em auto;
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.group-a,
.group-b {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-right: 2em;
  justify-content: center;
}

.group-a {
  width: 65%;
}

.group-b {
  width: 35%;
}

.connectImg {
  max-width: 100%;
  max-height: 100%;
}

.sub {
  height: 4em;
  text-transform: uppercase;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #2C3E50;
  margin-top: 2em;
}

.sub:hover {
  background-color: #566573;
}

@media only screen and (max-width: 1000px) {
  #formSection{
    width: 60%;
    flex-direction: column;
  }

  .group-b,
  .group-a {
    width: 100%;
  }

  .group-a label {
    text-align: center;
    margin-bottom: 1em;
  }

  .connectImg {
    padding-left: 12vh;
    padding-right: 12vh;
  }
}
