<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="manifest" href="/pwa.webmanifest">
    <meta name="theme-color" content="#764ABC"/>
    <link rel="apple-touch-icon" href="/../../img/icons/apple-touch-icon.png">
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Account Manager Démo App</title>
  </head>

  <body>
    <div class="page-wrapper">
      <div class="wrapper">
        <div class="card">
          <div class="card-message">
            <h1>Bienvenue</h1>
            <% if (data) { %>
              <p>Bonjour <strong><%= data.username %></strong>, tu es actuellement connecté.</p>
            <% } else { %>
              <p>Bonjour visiteur, tu n'es pas connecté et n'aura pas accès à certaines pages.</p>
            <% } %>
                <div>                    
                    <p>Ce site est un exemple d'application web avec une gestion de comptes utilisateurs.
                    Pour comprendre son fonctionnement, tu peux consulter les pages suivantes :</p><br>
                    <ul>
                        <li><a href="/register">Inscription</a></li>
                        <li><a href="/login">Connexion</a></li>
                        <li><a href="/protected-route">Ton profil</a></li>
                        <li><a href="/admin-route">Page Admin</a></li>
                        <% if (data) { %>
                          <li><a href="/logout">Déconnexion</a></li>
                        <% } %>
                    </ul>
                </div>
          </div>
      </div>
    </div>
    <script src="../js/pwa.js"></script>
  </body>
</html>
