<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Connexion</title>
  </head>

  <body>
    <div class="page-wrapper">
      <div class="wrapper">
        <div class="card">
          <div class="card-heading"></div>
          <form method="post" , action="/login" class="card-body">
            <h2>Connexion</h2>
            <% if (error.length > 0) { %>
            <div class="message error-message">
              <span class="message-text error-text"><%= error[0] %></span>
            </div>
            <% } %> <% if (success.length > 0 && username.length > 0 ) { %>
            <div class="message success-message">
              <span class="message-text success-text"
                ><%= success[0] %><u
                  ><strong><%= username[0] %></strong></u
                ></span
              >
            </div>
            <% } %>
            <input type="text" placeholder="Email" name="username" />
            <input type="password" name="password" placeholder="Mot de passe" />
            <input class="btn" type="submit" value="Se connecter" />
            <img
              class="home-btn"
              type="image"
              alt="Accueil"
              id="navigateHomeBtn"
              src="../img/icon_home.png"
            />
            <p class="signup-btn">Pas encore membre ? <a href="/register">S'inscrire</a>.</p>
            <script>
              document.getElementById("navigateHomeBtn").onclick = function () {
                window.location = "/";
              };
            </script>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
