<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Inscription</title>
  </head>

  <body>
    <div class="page-wrapper">
      <div class="wrapper">
        <div class="card">
          <div class="card-heading register"></div>
          <form method="post" , action="/register" class="card-body">
            <h2>Inscription</h2>
            <% if (error.length > 0) { %>
            <div class="message error-message">
              <span class="message-text error-text"><%= error[0] %></span>
            </div>
            <% } %>
            <input type="text" placeholder="Email" name="username" />
            <input type="password" name="password" placeholder="Mot de passe" />
            <input class="btn" type="submit" value="S'inscrire" />
            <img
              class="home-btn"
              type="image"
              alt="Accueil"
              id="navigateHomeBtn"
              src="../img/icon_home.png"
            />
            <p class="signup-btn">Déjà un compte ? <a href="/login">Connectez-vous</a>.</p>
            <script>
              document.getElementById("navigateHomeBtn").onclick = function () {
                window.location = "/";
              };
            </script>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
